.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  width: 50vw;
  min-width: 50em;
}

.search-form {
  display: flex;
  flex-direction: row;
}

